a:visited {
    color: green;
}

a:link {
    color: gold;
}

a:hover {
    color: red;
}

.info {
    display: flex;
    justify-content: space-between;
}

.items {
    font-size: x-large;
    margin-right: 20px;
}

.milk {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-left: 450px;
    margin-top: 30px;
    margin-right: 50px;
}

.borderr {
    border: solid black 2px;
}

.heading {
    text-decoration: underline;
}

p {
    font-weight: bold;
}

.fa-solid {
    font-size: xx-large;
    margin-top: 30px;
 }
 
 .quant {
    margin-right: 10px;
 }

 .checkout {
    background-color:antiquewhite;
    font-weight: bold;
 }

 .checkout:hover {
    background-color: red;
    color: aliceblue;
 }